@import "~normalize.css";

$default_font: sans-serif;
$default_font_size: 20px;
$date_color: #999;
$tag_color: #948;

*,
*:after,
*:before {
    box-sizing: border-box;
}

html, body {
    font: normal 16px Arial, 'sans-serif';
}

img, video, iframe {
    max-width: 100%;
}

.page {

    &__header {
        margin: 10px 0 20px;
        padding: 0 10px 10px;
        font-size: 28px;
        font-style: italic;
        border-bottom: 1px solid #efefef;
    }

    &__header-link {
        text-decoration: none;
        color: #37474F;
    }

    &__content {
        padding: 0 10px;
    }
}

.content {

}

.post {
    margin-top: 40px;

    &:first-child {
        margin-top: 0;
    }

    &__meta {
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    &__timestamp {
        color: #c3c3c3;
    }

    &__replies {
        font-size: 14px;
        text-decoration: none;
        display: inline-block;
        color: #3F51B5;
    }

    &__body {
        font-size: 18px;
        color: #333;
        font-style: italic;
    }

    &__content-link {
        display: inline-block;
        margin-bottom: 10px;
    }
}

#page_section {
    font: $default_font;
    font-size: $default_font_size;
    #main_container {
        .post {
            margin-bottom: 70px;
            .tags {
                margin-bottom: 5px;
                color: $tag_color;
            }
            .ts {
                float: left;
                margin-left: -8em;
                text-align: center;
                color: $date_color;
            }
            .post_img {
                position: relative;
            }
            .post-stub {
                min-height: 10px;
            }
            .replies {
                margin-top: 15px;
                text-align: right;
            }
            .tag {
                margin-right: 0.5em;
            }
        }
        .comment {
            .user {
                margin-bottom: 10px;
            }
            .body {
                margin-left: 50px;
                margin-bottom: 20px;
            }
        }
    }
}
