@import "~normalize.css";

$default_font: sans-serif;
$default_font_size: 20px;
$date_color: #999;
$tag_color: #999;

// RWD Breakpoints
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1199px;

*,
*:after,
*:before {
    box-sizing: border-box;
}

html, body {
    font: normal 16px Arial, 'sans-serif';
}

img, video, iframe {
    max-width: 100%;
}

.page {

    &__header {
        margin: 10px 0 20px;
        padding: 0 10px 10px;
        font-size: 28px;
        font-style: italic;
        border-bottom: 1px solid #efefef;

        @media (min-width: $screen-sm-min) {
            padding: 20px 30px;
        }

        @media (min-width: $screen-lg-min) {
            width: $screen-md-min;
            margin: 0 auto;
            padding: 40px 30px;
            font-size: 40px;
        }
    }

    &__header-link {
        text-decoration: none;
        color: #37474F;
    }

    &__content {
        padding: 0 10px 30px;

        @media (min-width: $screen-sm-min) {
            padding: 0 30px 30px;
        }
    }
}

.content {
    width: 100%;

    @media (min-width: $screen-lg-min) {
        width: $screen-md-min;
        margin: 0 auto;
        //display: flex;
        //flex-flow: row wrap;
    }
}

.post {
    padding: 25px 0;

    @media (min-width: $screen-sm-min) {
        padding: 40px 0;
    }

    @media (min-width: $screen-lg-min) {
        //width: 48%;

        //&:nth-child(2n+2) {
        //    margin-left: 4%;
        //}
    }

    &:first-child {
        margin-top: 0;
    }

    &__meta {
        padding-top: 15px;
        font-size: 14px;

        @media (min-width: $screen-sm-min) {
            font-size: 16px;
            font-weight: bold;
        }
    }

    &__timestamp {
        color: #c3c3c3;
    }

    &__replies {
        text-decoration: none;
        display: inline-block;
        color: #3F51B5;
        cursor: pointer;
    }

    &__body {
        font-size: 18px;
        color: #333;
        font-style: italic;
    }

    &__content-link {
        display: inline-block;
        margin-bottom: 10px;

        @media (min-width: $screen-sm-min) {
            display: block;
            margin: 0 auto;
        }

        @media (min-width: $screen-md-min) {
            margin: 0;
        }
    }

    &__photo {
        display: block;

        @media (min-width: $screen-sm-min) {
            margin: 0 auto;
        }

        @media (min-width: $screen-md-min) {
            margin: 0;
        }
    }

    &__tag {
        color: $tag_color;
        border-bottom: 1px dashed $tag_color;
        margin-right: 0.5em;
    }
}

.footer {
    padding: 20px 10px;
    border-top: 1px solid #c3c3c3;
    text-align: center;
}
